* {
    padding: 0;
    margin: 0;
}
#main-doc {
    position: relative;
    margin-left: 300px;
    border-left: 1px solid black;
}
#main-section {
    max-width: 100%;
}
#navbar {
    position: fixed;
    width: 300px;
    height: 100%;
}
header {
    font-size: 1.8em;
    margin: 20px;
}
nav li {
    border-top: 1px solid black;
    padding: 15px 30px;
    font-size: 1.2em;
}
nav li a {
    text-decoration: none;
}
p {
    font-size: 1.1em;
    color: #404040;
    margin: 20px 50px;
}
#main-doc li {
    list-style: none;
}
#references li {
    margin-left: 150px;
}
code {
    margin: 0px 100px;
    background-color: lightgray;
    list-style: none;
    padding: 10px;
    display: block;
    text-align: left;
    white-space: pre-line;
    line-height: 2;
}
img {
    height: 120px;
    width: 650px;
}
#img-container {
    width: 810px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
}
.div_bond-line {
    padding-top: 28px;
    margin-left: -25px;
}
#bond-line {
    height: 50px;
    width: 50px;
}
p.p_bond-line {
    color: #5c5c5c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    width: 140px;
}
.bond-line {
    color: #88898c;
}
#ab-container {
    display: flex;
    width: 500px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}
#acid-base {
    width: 450px;
}
.stereo_list {
    margin-left: 100px;
}
#fgroups-container {
    margin: 0 auto;
    text-align: center;
}
#img-fgroups {
    height: 400px;
    width: 500px;
}
#synthesis-container {
    margin: 0 auto;
    text-align: center;
}
#img-synthesis {
    height: 400px;
    width: 600px;
}
#light-container {
    margin: 0 auto;
    text-align: center;
}
#light {
    height: 250px;
    width: 500px;
}
